<!-- <p>our-certifications works!</p> -->
<div class="background ">
    <div class="container mt-5 pt-5" align="center">
        <div class="row justify-content-center mx-auto mt-5 pt-5 " >
            
            <div class="col-lg-4 col-md-6 mb-4" >
                <a [routerLink]="['/our-certifications/gallery/haccp']" routerLinkActive="router-link-active" ><img src="assets/images/our-certifications/haccp.png" alt="HACCP's certification" type="margin"></a>
            </div>
            <div class="col-lg-4 col-md-6 mb-4" >
                <a [routerLink]="['/our-certifications/gallery/nom-scfi']" routerLinkActive="router-link-active" ><img src="assets/images/our-certifications/NOM-SCFI.png" alt="NOM SCFI's certification" type="margin"></a>
            </div>
        </div>
    </div>
</div>