<!-- <p>footer works!</p> -->
<footer id="footer" >
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 footer-newsletter text-center"><a
                        href="http://www.alcoholinformate.org.mx/" target="_blank">
                        <h4>Avoid Excess</h4>
                    </a></div>
                <div class="col-lg-4 col-md-6 footer-newsletter text-center"> <a
                    [routerLink]="['/notice-of-privacy']" routerLinkActive="router-link-active">
                        <h4>Notice of privacy</h4>
                    </a></div>
                <div class="col-lg-4 col-md-6 footer-newsletter text-center"> <a
                        [routerLink]="['/terms-and-conditions']" routerLinkActive="router-link-active" >
                        <h4>Terms and conditions</h4>
                    </a></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright"> &copy; Copyright <strong class="text-white"><span>ROBEMEX</span></strong>. All rights reserved</div>
        <!-- <div class="credits"> <a href="https://www.facebook.com/esdmx.protsea" target="_blank">Diseñado por <img
                    src="../../../assets/img/logos/esdmx.png" class="img-fluid" width="30%" height="30%"
                    alt="Logo de ESDMX"></a></div> -->
    </div>
</footer>