<!-- <p>sellings-points works!</p> -->

<div class="background">
  <div class="container">
    <div class="row justify-content-center mx-auto section-title text-center">
      <h1 class="display-1">Our selling points</h1>
    </div>

    <div class="row justify-content-center mx-auto">

      <div class="col-lg-4 col-md-6 mb-4">
        <a [routerLink]="['/sellings-points-mexico']" routerLinkActive="router-link-active"><img
            class="img-fluid z-depth-1" src="../../../assets/images/sellings-points/logos/mexico.png"
            alt="Mexico sellings points"></a>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <a [routerLink]="['/sellings-points-usa']" routerLinkActive="router-link-active"><img
            class="img-fluid z-depth-1" src="../../../assets/images/sellings-points/logos/usa.png"
            alt="U.S.A. sellings points"></a>
      </div>
    </div>
  </div>
</div>
